# .NET
bin/
obj/
out/
*.user
*.suo
*.sln.docstates
*.userprefs
.vs/
*.DotSettings

# NuGet
packages/
*.nupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Docker
.docker/

# IDE
.idea/
*.swp
*.swo
*~
.vscode/

# OS
Thumbs.db
.DS_Store

# Secrets
appsettings.*.local.json
*.user
